.search-table {
  width: 100%; }

.search-table tr {
  height: 45px; }

.search-table .multiple-line {
  height: 25px; }

.search-table th {
  text-align: right;
  font-weight: 500;
  padding-right: 40px; }

.label-smart {
  cursor: pointer;
  font-size: 12px; }

.label-green {
  cursor: pointer; }

.parent-title {
  text-decoration: underline;
  color: #ce9f9f; }

.parent-body {
  margin-left: 20px;
  font-size: 12px; }

#bck-car {
  z-index: -1;
  right: 0px;
  position: absolute;
  margin-right: 0px;
  opacity: 0.6;
  top: 100px; }

dl {
  margin-bottom: 0px !important; }

.rent-required {
  height: 40px;
  background-color: #fff;
  padding: 10px;
  color: #767a9c;
  font-weight: 500; }

.rent-info {
  float: left;
  height: 37px;
  font-size: 15px;
  color: #767a9c;
  font-weight: 500; }

.rent-info-coll {
  clear: both;
  margin-left: 0px;
  font-size: 13px;
  width: 98%;
  float: left;
  line-height: 22px; }

.list-price {
  font-weight: 500; }

.rent-info-coll-div {
  width: 100%;
  height: 100px;
  margin: auto;
  margin-top: 40px;
  border-bottom: 2px solid #e9e9e9; }

.detail-title > h2, .detail-title > h1 {
  color: #22b500;
  float: left;
  width: 100%; }

.rent-filter-container {
  width: 100%;
  height: 100%;
  border: 1px solid #cecece;
  margin-bottom: 26px;
  background-color: #ffffff;
  padding: 15px;
  font-size: 13px; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  background: url(/resources/images/button_arrow.png) no-repeat 95% 50%;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  padding: 5px;
  font-size: 13px;
  color: #4a4a4a; }

select::-ms-expand {
  display: none; }

.filter-condition {
  line-height: 22px; }

.filter-condition > select {
  width: 200px; }

.rent-filter {
  height: 30px;
  margin-top: 20px;
  margin-left: 25px;
  float: left; }

.rent-filter-btn {
  background-image: url("/resources/images/filter.png");
  background-repeat: no-repeat;
  background-position: 10px;
  width: 150px;
  border-left: 1px solid #cecece;
  float: right;
  height: 60px;
  color: #22b500;
  text-align: center;
  cursor: pointer; }

.rent-filter-btn > span {
  float: left;
  text-decoration: underline;
  font-size: 16px;
  padding: 20px;
  margin-left: 30px; }

#ui-grid-target {
  font-size: 15px; }

.vat-info {
  width: 100%;
  height: 170px;
  background-color: #e9e9e9;
  color: #90939C;
  padding: 30px;
  line-height: 2.0em; }

.detail-sub-icon {
  color: #22B500;
  margin-left: 10px;
  margin-bottom: 10px; }

.detail-sub-icon > span {
  margin-left: 5px;
  text-decoration: underline; }

.max-month {
  font-weight: 200 !important;
  font-size: 13px; }

.container > h3 {
  font-size: 22px;
  color: #22B500; }

.grayBorder {
  margin-top: 19px;
  border-top: 2px solid #d7d8db;
  height: 30px;
  position: absolute;
  left: 0px; }

.detailCarTitle {
  font-size: 20px;
  font-weight: 500;
  color: #4a4a4a; }

.fa-long-arrow-left {
  margin-right: 20px;
  font-size: 20px; }

.noImg {
  background-image: none !important; }

.carousel-inner {
  height: 495px !important; }

#carousel-example-generic {
  margin-bottom: 37px; }

.tab-content {
  clear: both; }

td > a:link {
  text-decoration: underline; }

#profile {
  height: auto !important;
  line-height: 2.0em;
  padding: 20px; }

A:link {
  text-decoration: none; }

A:visited {
  text-decoration: none; }

A:active {
  text-decoration: none; }

A:hover {
  text-decoration: none; }

.car-info-title {
  color: #9ea4b6; }

.car-info-value {
  color: #000; }

.spec-title {
  color: #333333; }

.spec-option-box {
  margin-top: 20px;
  width: 100%;
  font-size: 13px; }

.windowCloseBtn {
  float: right;
  margin-top: -10px;
  margin-right: -10px; }

.price-title {
  font-size: 14px;
  color: #9c9c9c;
  text-align: left;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #efefef; }

.price-tab {
  margin-top: 40px;
  margin-bottom: 40px; }

.price-tab-left {
  float: left;
  height: 100%;
  width: 50%;
  border-right: 1px solid #EFEFEF; }

.price-tab-right {
  float: left;
  height: 100%;
  width: 50%;
  border-left: 1px solid #EFEFEF; }

.price-tab-subtitle {
  color: #6c7382;
  width: 100%;
  text-align: center;
  height: 45px;
  font: 15px/43px GanunNanumBarunGothic;
  border-bottom: 2px solid #EFEFEF; }

.month-rent-price-box {
  min-height: 85px !important;
  height: 85px;
  line-height: 2.0em; }

.price-box {
  height: 250px !important; }

.price-box table tr {
  height: 60px; }

.price-select-group {
  margin-top: 20px;
  margin-bottom: -20px;
  width: 100%;
  font-weight: 500; }

.price-select-btn-group > span {
  float: right;
  font-size: 12px;
  color: #6C7382;
  line-height: 27px; }

.price-info {
  width: 95%;
  margin-left: 10px;
  padding: 10px;
  margin-top: 5px; }

.price-info > table {
  width: 100%; }

.price-unit {
  color: #9ea4b6;
  width: 80px;
  padding-right: 20px;
  text-align: center; }

.price {
  width: 100px;
  padding-left: 20px; }

.print-detail {
  cursor: pointer;
  font-size: 25px; }

.price-btn {
  width: 230px;
  cursor: pointer;
  color: #22B500; }

.glyphicon-bed, .glyphicon-wrench, .glyphicon-duplicate {
  text-decoration: none !important; }

/* Detail page */
.tab-content-box {
  background: #fff;
  border-top: 1px solid #d5d7dd;
  border-bottom: 1px solid #d5d7dd;
  line-height: 25px;
  min-height: 400px; }

.photozone {
  width: 45%;
  height: 410px;
  float: left;
  padding: 40px;
  text-align: center; }

.domestic-content-box {
  background: #fff;
  border-top: 1px solid #d5d7dd;
  border-bottom: 1px solid #d5d7dd;
  line-height: 25px;
  min-height: 200px; }

.domestic-left-content {
  width: 45%;
  height: 200px;
  float: left;
  padding: 40px;
  line-height: 25px; }

.domestic-left-content > table {
  width: 400px; }

.domestic-left-content tr {
  height: 40px; }

.domestic-left-content td {
  width: 100px; }

.month-content-box {
  background: #fff;
  border-top: 1px solid #d5d7dd;
  border-bottom: 1px solid #d5d7dd;
  line-height: 25px;
  min-height: 400px; }

.car-info {
  background-color: #fff;
  padding: 20px;
  width: 55%;
  float: right; }

.car-info > table {
  width: 100%;
  line-height: 30px; }

.inquiry-table {
  font-size: 14px;
  line-height: 25px !important; }

.detail-title {
  margin-top: 20px;
  height: 40px;
  margin-bottom: 28px; }

.detail-btn-other {
  width: 90%;
  font-size: 12px;
  background-color: #6C7382;
  border: 1px solid #fff;
  padding: 5px;
  margin-left: -1px;
  color: #fff;
  border-radius: 3px; }

.detail-btn-print {
  width: 90%;
  font-size: 12px;
  background-color: #5e9ee0;
  border: 1px solid #fff;
  padding: 5px;
  margin-left: -1px;
  color: #fff;
  border-radius: 3px; }

.detail-btn-request, .detail-btn-booking {
  width: 90%;
  font-size: 12px;
  background-color: #6C7382;
  border: 1px solid #fff;
  padding: 5px;
  margin-left: -1px;
  color: #fff;
  border-radius: 3px; }

.detail-btn-booking.disabled {
  display: none; }

.list-btn {
  width: 90%;
  font-size: 12px;
  background-color: #6C7382;
  border: 1px solid #fff;
  padding: 5px;
  margin-left: -1px;
  color: #fff;
  border-radius: 3px;
  width: 100px !important;
  margin-top: 20px; }

table.rent-list {
  width: 100%; }

table.rent-list tr:hover {
  cursor: pointer; }

.rent-list .hover-style {
  background-color: #ffffff; }

.rent-list-sub-head th {
  background-color: #C9C9C9; }

.rent-list-rightest-item {
  border-right: 1px solid #ababab; }

.rent-list-rightest-item-light {
  border-right: 1px solid #ddd !important; }

tbody:before {
  display: block;
  line-height: 1em;
  color: transparent; }

table.rent-list > thead > tr {
  background-color: #E9E9E9;
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
  height: 35px;
  color: #4a4a4a;
  font-size: 14px; }

table.rent-list th {
  text-align: center; }

.leftist-item {
  margin-left: 129px !important; }

table.rent-list > tbody > tr {
  height: 50px;
  border-bottom: 2px solid #ddd;
  text-align: center; }

table.rent-list td {
  color: #424242; }

table.main-list td:first-child, #month-list td:nth-child(2), #secondhand-list td:nth-child(2) {
  text-align: left;
  color: #4D4D4D;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px; }

table.rent-list td.price {
  color: #4D4D4D;
  font-weight: 500; }

.rent-desc {
  cursor: pointer;
  background-color: #6C7382;
  padding: 5px; }

/* rent desc style */
.amazon-desc-tab li.active a {
  color: #22B500 !important; }

.amazon-desc p, .amazon-desc dl {
  line-height: 24px;
  margin-bottom: 24px;
  padding-left: 24px; }

.amazon-desc {
  padding: 10px;
  width: 1024px;
  margin: 0 auto; }

.amazon-desc h4, .amazon-desc h3 {
  color: #6C7382; }

.amazon-desc h3 {
  margin-bottom: 24px; }

.amazon-desc h3 .text-point {
  color: #F98460;
  margin: 24px 0; }

.amazon-desc dt, .amazon-desc dd {
  line-height: 24px; }

.sub-link-container {
  float: right;
  line-height: 40px; }

.car-info-sub-link {
  margin: 5px;
  font-family: 'Nanum Square';
  font-size: 14px;
  text-decoration: underline;
  color: #6C7382;
  cursor: pointer; }

.amazon-detail-tab {
  border-bottom: 0px !important; }

.amazon-detail-tab > li.active > a, .amazon-detail-tab > li.active > a:hover, .amazon-detail-tab > li.active > a:focus {
  border-radius: 0px !important;
  background-color: #fff;
  border-bottom: 1px solid #d5d7dd; }

.amazon-detail-tab > li > a, .amazon-detail-tab > li > a:hover {
  margin-right: -1px;
  border-radius: 0px !important;
  background: #f6f6f6;
  border: 1px solid #d5d7dd;
  color: #adafb5;
  font-size: 16px; }

table.advantage-table {
  line-height: 30px;
  font-size: 15px; }

table.advantage-table th {
  text-align: center;
  height: 150px; }

table.advantage-table th > div {
  background-color: #eee;
  color: #6C7382;
  padding: 50px 20px 20px 20px;
  min-height: 130px;
  border-radius: 10px; }

.desc-price {
  text-align: right;
  font-weight: 800;
  color: #22B500; }

table.desc-table tr {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9; }

.desc-half-table {
  width: 45%;
  float: left;
  margin-right: 5%; }

.price-sort {
  cursor: pointer; }

.secondhand-title {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700; }

.green-compare-table > tbody > tr > td:nth-child(3), .green-compare-table > tbody > tr > td:first-child {
  text-align: center !important; }

.green-compare-table > tbody > tr > td {
  text-align: right; }

.green-compare-table > tbody > tr > td:nth-child(2), .green-compare-table > tbody > tr > td:last-child {
  text-align: left !important; }

.green-charge-table > tbody > tr > td:nth-child(9) {
  text-align: left !important; }

/*# sourceMappingURL=rent.css.map */
