@font-face {
  font-family: 'icomoon';
  src: url('/resources/fonts/icomoon.eot');
  src: url('/resources/fonts/icomoon.eot') format('embedded-opentype'),
    	url('/resources/fonts/icomoon.woff') format('woff'),
    	url('/resources/fonts/icomoon.ttf') format('truetype'),
    	url('/resources/fonts/icomoon.svg') format('svg');
/*   src: url('/resources/fonts/icomoon.eot?m1py09');
  src: url('/resources/fonts/icomoon.eot?m1py09#iefix') format('embedded-opentype'),
    	url('/resources/fonts/icomoon.woff?m1py09') format('woff'),
    	url('/resources/fonts/icomoon.ttf?m1py09') format('truetype'),
    	url('/resources/fonts/icomoon.svg?m1py09#icomoon') format('svg'); */
  font-weight: normal;
  font-style: normal;
  
  src:url('/resources/fonts/library/bootstrap-social/fontawesome-webfont.eot');
  src:url('/resources/fonts/library/bootstrap-social/fontawesome-webfont.eot') format('embedded-opentype'),
		url('/resources/fonts/library/bootstrap-social/fontawesome-webfont.woff2') format('woff2'),
		url('/resources/fonts/library/bootstrap-social/fontawesome-webfont.woff') format('woff'),
		url('/resources/fonts/library/bootstrap-social/fontawesome-webfont.ttf') format('truetype'),
		url('/resources/fonts/library/bootstrap-social/fontawesome-webfont.svg') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-01:before {
  content: "\e900";
}
.icon-02:before {
  content: "\e901";
}
.icon-03:before {
  content: "\e902";
}
.icon-px:before {
  content: "\e903";
}
.icon-adjust:before {
  content: "\e904";
}
.icon-adn:before {
  content: "\e905";
}
.icon-align-center:before {
  content: "\e906";
}
.icon-align-justify:before {
  content: "\e907";
}
.icon-align-left:before {
  content: "\e908";
}
.icon-align-right:before {
  content: "\e909";
}
.icon-amazon:before {
  content: "\e90a";
}
.icon-ambulance:before {
  content: "\e90b";
}
.icon-anchor:before {
  content: "\e90c";
}
.icon-android:before {
  content: "\e90d";
}
.icon-angellist:before {
  content: "\e90e";
}
.icon-angle-double-down:before {
  content: "\e90f";
}
.icon-angle-double-left:before {
  content: "\e910";
}
.icon-angle-double-right:before {
  content: "\e911";
}
.icon-angle-double-up:before {
  content: "\e912";
}
.icon-angle-down:before {
  content: "\e913";
}
.icon-angle-left:before {
  content: "\e914";
}
.icon-angle-right:before {
  content: "\e915";
}
.icon-angle-up:before {
  content: "\e916";
}
.icon-apple:before {
  content: "\e917";
}
.icon-archive:before {
  content: "\e918";
}
.icon-area-chart:before {
  content: "\e919";
}
.icon-arrow-circle-down:before {
  content: "\e91a";
}
.icon-arrow-circle-left:before {
  content: "\e91b";
}
.icon-arrow-circle-o-down:before {
  content: "\e91c";
}
.icon-arrow-circle-o-left:before {
  content: "\e91d";
}
.icon-arrow-circle-o-right:before {
  content: "\e91e";
}
.icon-arrow-circle-o-up:before {
  content: "\e91f";
}
.icon-arrow-circle-right:before {
  content: "\e920";
}
.icon-arrow-circle-up:before {
  content: "\e921";
}
.icon-arrow-down:before {
  content: "\e922";
}
.icon-arrow-left:before {
  content: "\e923";
}
.icon-arrow-right:before {
  content: "\e924";
}
.icon-arrows:before {
  content: "\e925";
}
.icon-arrows-alt:before {
  content: "\e926";
}
.icon-arrows-h:before {
  content: "\e927";
}
.icon-arrows-v:before {
  content: "\e928";
}
.icon-arrow-up:before {
  content: "\e929";
}
.icon-asterisk:before {
  content: "\e92a";
}
.icon-at:before {
  content: "\e92b";
}
.icon-automobile:before {
  content: "\e92c";
}
.icon-backward:before {
  content: "\e92d";
}
.icon-balance-scale:before {
  content: "\e92e";
}
.icon-ban:before {
  content: "\e92f";
}
.icon-bank:before {
  content: "\e930";
}
.icon-bar-chart:before {
  content: "\e931";
}
.icon-barcode:before {
  content: "\e932";
}
.icon-bars:before {
  content: "\e933";
}
.icon-battery-0:before {
  content: "\e934";
}
.icon-battery-1:before {
  content: "\e935";
}
.icon-battery-2:before {
  content: "\e936";
}
.icon-battery-3:before {
  content: "\e937";
}
.icon-battery-4:before {
  content: "\e938";
}
.icon-bed:before {
  content: "\e939";
}
.icon-beer:before {
  content: "\e93a";
}
.icon-behance:before {
  content: "\e93b";
}
.icon-behance-square:before {
  content: "\e93c";
}
.icon-bell:before {
  content: "\e93d";
}
.icon-bell-o:before {
  content: "\e93e";
}
.icon-bell-slash:before {
  content: "\e93f";
}
.icon-bell-slash-o:before {
  content: "\e940";
}
.icon-bicycle:before {
  content: "\e941";
}
.icon-binoculars:before {
  content: "\e942";
}
.icon-birthday-cake:before {
  content: "\e943";
}
.icon-bitbucket:before {
  content: "\e944";
}
.icon-bitbucket-square:before {
  content: "\e945";
}
.icon-bitcoin:before {
  content: "\e946";
}
.icon-black-tie:before {
  content: "\e947";
}
.icon-bluetooth:before {
  content: "\e948";
}
.icon-bluetooth-b:before {
  content: "\e949";
}
.icon-bold:before {
  content: "\e94a";
}
.icon-bolt:before {
  content: "\e94b";
}
.icon-bomb:before {
  content: "\e94c";
}
.icon-book:before {
  content: "\e94d";
}
.icon-bookmark:before {
  content: "\e94e";
}
.icon-bookmark-o:before {
  content: "\e94f";
}
.icon-briefcase:before {
  content: "\e950";
}
.icon-bug:before {
  content: "\e951";
}
.icon-building:before {
  content: "\e952";
}
.icon-building-o:before {
  content: "\e953";
}
.icon-bullhorn:before {
  content: "\e954";
}
.icon-bullseye:before {
  content: "\e955";
}
.icon-bus:before {
  content: "\e956";
}
.icon-buysellads:before {
  content: "\e957";
}
.icon-cab:before {
  content: "\e958";
}
.icon-calculator:before {
  content: "\e959";
}
.icon-calendar:before {
  content: "\e95a";
}
.icon-calendar-check-o:before {
  content: "\e95b";
}
.icon-calendar-minus-o:before {
  content: "\e95c";
}
.icon-calendar-o:before {
  content: "\e95d";
}
.icon-calendar-plus-o:before {
  content: "\e95e";
}
.icon-calendar-times-o:before {
  content: "\e95f";
}
.icon-camera:before {
  content: "\e960";
}
.icon-camera-retro:before {
  content: "\e961";
}
.icon-car_01:before {
  content: "\e962";
}
.icon-car_02:before {
  content: "\e963";
}
.icon-car_03:before {
  content: "\e964";
}
.icon-caret-down:before {
  content: "\e965";
}
.icon-caret-left:before {
  content: "\e966";
}
.icon-caret-right:before {
  content: "\e967";
}
.icon-caret-square-o-down:before {
  content: "\e968";
}
.icon-caret-square-o-left:before {
  content: "\e969";
}
.icon-caret-square-o-right:before {
  content: "\e96a";
}
.icon-caret-square-o-up:before {
  content: "\e96b";
}
.icon-caret-up:before {
  content: "\e96c";
}
.icon-cart-arrow-down:before {
  content: "\e96d";
}
.icon-cart-plus:before {
  content: "\e96e";
}
.icon-cc:before {
  content: "\e96f";
}
.icon-cc-amex:before {
  content: "\e970";
}
.icon-cc-diners-club:before {
  content: "\e971";
}
.icon-cc-discover:before {
  content: "\e972";
}
.icon-cc-jcb:before {
  content: "\e973";
}
.icon-cc-mastercard:before {
  content: "\e974";
}
.icon-cc-paypal:before {
  content: "\e975";
}
.icon-cc-stripe:before {
  content: "\e976";
}
.icon-cc-visa:before {
  content: "\e977";
}
.icon-certificate:before {
  content: "\e978";
}
.icon-chain:before {
  content: "\e979";
}
.icon-chain-broken:before {
  content: "\e97a";
}
.icon-check:before {
  content: "\e97b";
}
.icon-check-circle:before {
  content: "\e97c";
}
.icon-check-circle-o:before {
  content: "\e97d";
}
.icon-check-square:before {
  content: "\e97e";
}
.icon-check-square-o:before {
  content: "\e97f";
}
.icon-chevron-circle-down:before {
  content: "\e980";
}
.icon-chevron-circle-left:before {
  content: "\e981";
}
.icon-chevron-circle-right:before {
  content: "\e982";
}
.icon-chevron-circle-up:before {
  content: "\e983";
}
.icon-chevron-down:before {
  content: "\e984";
}
.icon-chevron-left:before {
  content: "\e985";
}
.icon-chevron-right:before {
  content: "\e986";
}
.icon-chevron-up:before {
  content: "\e987";
}
.icon-child:before {
  content: "\e988";
}
.icon-chrome:before {
  content: "\e989";
}
.icon-circle:before {
  content: "\e98a";
}
.icon-circle-o:before {
  content: "\e98b";
}
.icon-circle-o-notch:before {
  content: "\e98c";
}
.icon-circle-thin:before {
  content: "\e98d";
}
.icon-clipboard:before {
  content: "\e98e";
}
.icon-clock-o:before {
  content: "\e98f";
}
.icon-clone:before {
  content: "\e990";
}
.icon-close:before {
  content: "\e991";
}
.icon-cloud:before {
  content: "\e992";
}
.icon-cloud-download:before {
  content: "\e993";
}
.icon-cloud-upload:before {
  content: "\e994";
}
.icon-cny:before {
  content: "\e995";
}
.icon-code:before {
  content: "\e996";
}
.icon-code-fork:before {
  content: "\e997";
}
.icon-codepen:before {
  content: "\e998";
}
.icon-codiepie:before {
  content: "\e999";
}
.icon-coffee:before {
  content: "\e99a";
}
.icon-cog:before {
  content: "\e99b";
}
.icon-cogs:before {
  content: "\e99c";
}
.icon-columns:before {
  content: "\e99d";
}
.icon-comment:before {
  content: "\e99e";
}
.icon-commenting:before {
  content: "\e99f";
}
.icon-commenting-o:before {
  content: "\e9a0";
}
.icon-comment-o:before {
  content: "\e9a1";
}
.icon-comments:before {
  content: "\e9a2";
}
.icon-comments-o:before {
  content: "\e9a3";
}
.icon-compass:before {
  content: "\e9a4";
}
.icon-compress:before {
  content: "\e9a5";
}
.icon-connectdevelop:before {
  content: "\e9a6";
}
.icon-contact:before {
  content: "\e9a7";
}
.icon-contao:before {
  content: "\e9a8";
}
.icon-copy:before {
  content: "\e9a9";
}
.icon-copyright:before {
  content: "\e9aa";
}
.icon-creative-commons:before {
  content: "\e9ab";
}
.icon-credit-card:before {
  content: "\e9ac";
}
.icon-credit-card-alt:before {
  content: "\e9ad";
}
.icon-crop:before {
  content: "\e9ae";
}
.icon-crosshairs:before {
  content: "\e9af";
}
.icon-css3:before {
  content: "\e9b0";
}
.icon-cube:before {
  content: "\e9b1";
}
.icon-cubes:before {
  content: "\e9b2";
}
.icon-cut:before {
  content: "\e9b3";
}
.icon-cutlery:before {
  content: "\e9b4";
}
.icon-dashboard:before {
  content: "\e9b5";
}
.icon-dashcube:before {
  content: "\e9b6";
}
.icon-database:before {
  content: "\e9b7";
}
.icon-dedent:before {
  content: "\e9b8";
}
.icon-delicious:before {
  content: "\e9b9";
}
.icon-desktop:before {
  content: "\e9ba";
}
.icon-deviantart:before {
  content: "\e9bb";
}
.icon-diamond:before {
  content: "\e9bc";
}
.icon-digg:before {
  content: "\e9bd";
}
.icon-dollar:before {
  content: "\e9be";
}
.icon-dot-circle-o:before {
  content: "\e9bf";
}
.icon-download:before {
  content: "\e9c0";
}
.icon-dribbble:before {
  content: "\e9c1";
}
.icon-dropbox:before {
  content: "\e9c2";
}
.icon-drupal:before {
  content: "\e9c3";
}
.icon-edge:before {
  content: "\e9c4";
}
.icon-edit:before {
  content: "\e9c5";
}
.icon-eject:before {
  content: "\e9c6";
}
.icon-ellipsis-h:before {
  content: "\e9c7";
}
.icon-ellipsis-v:before {
  content: "\e9c8";
}
.icon-empire:before {
  content: "\e9c9";
}
.icon-envelope:before {
  content: "\e9ca";
}
.icon-envelope-o:before {
  content: "\e9cb";
}
.icon-envelope-square:before {
  content: "\e9cc";
}
.icon-eraser:before {
  content: "\e9cd";
}
.icon-eur:before {
  content: "\e9ce";
}
.icon-exchange:before {
  content: "\e9cf";
}
.icon-exclamation:before {
  content: "\e9d0";
}
.icon-exclamation-circle:before {
  content: "\e9d1";
}
.icon-exclamation-triangle:before {
  content: "\e9d2";
}
.icon-expand:before {
  content: "\e9d3";
}
.icon-expeditedssl:before {
  content: "\e9d4";
}
.icon-external-link:before {
  content: "\e9d5";
}
.icon-external-link-square:before {
  content: "\e9d6";
}
.icon-eye:before {
  content: "\e9d7";
}
.icon-eyedropper:before {
  content: "\e9d8";
}
.icon-eye-slash:before {
  content: "\e9d9";
}
.icon-facebook:before {
  content: "\e9da";
}
.icon-facebook-official:before {
  content: "\e9db";
}
.icon-facebook-square:before {
  content: "\e9dc";
}
.icon-fast-backward:before {
  content: "\e9dd";
}
.icon-fast-forward:before {
  content: "\e9de";
}
.icon-fax:before {
  content: "\e9df";
}
.icon-feed:before {
  content: "\e9e0";
}
.icon-female:before {
  content: "\e9e1";
}
.icon-fighter-jet:before {
  content: "\e9e2";
}
.icon-file:before {
  content: "\e9e3";
}
.icon-file-archive-o:before {
  content: "\e9e4";
}
.icon-file-audio-o:before {
  content: "\e9e5";
}
.icon-file-code-o:before {
  content: "\e9e6";
}
.icon-file-excel-o:before {
  content: "\e9e7";
}
.icon-file-image-o:before {
  content: "\e9e8";
}
.icon-file-movie-o:before {
  content: "\e9e9";
}
.icon-file-o:before {
  content: "\e9ea";
}
.icon-file-pdf-o:before {
  content: "\e9eb";
}
.icon-file-powerpoint-o:before {
  content: "\e9ec";
}
.icon-file-text:before {
  content: "\e9ed";
}
.icon-file-text-o:before {
  content: "\e9ee";
}
.icon-file-word-o:before {
  content: "\e9ef";
}
.icon-film:before {
  content: "\e9f0";
}
.icon-filter:before {
  content: "\e9f1";
}
.icon-fine_insure:before {
  content: "\e9f2";
}
.icon-fire:before {
  content: "\e9f3";
}
.icon-fire-extinguisher:before {
  content: "\e9f4";
}
.icon-firefox:before {
  content: "\e9f5";
}
.icon-flag:before {
  content: "\e9f6";
}
.icon-flag-checkered:before {
  content: "\e9f7";
}
.icon-flag-o:before {
  content: "\e9f8";
}
.icon-flask:before {
  content: "\e9f9";
}
.icon-flickr:before {
  content: "\e9fa";
}
.icon-floppy-o:before {
  content: "\e9fb";
}
.icon-folder:before {
  content: "\e9fc";
}
.icon-folder-o:before {
  content: "\e9fd";
}
.icon-folder-open:before {
  content: "\e9fe";
}
.icon-folder-open-o:before {
  content: "\e9ff";
}
.icon-font:before {
  content: "\ea00";
}
.icon-fonticons:before {
  content: "\ea01";
}
.icon-fort-awesome:before {
  content: "\ea02";
}
.icon-forumbee:before {
  content: "\ea03";
}
.icon-forward:before {
  content: "\ea04";
}
.icon-foursquare:before {
  content: "\ea05";
}
.icon-frown-o:before {
  content: "\ea06";
}
.icon-futbol-o:before {
  content: "\ea07";
}
.icon-gamepad:before {
  content: "\ea08";
}
.icon-gavel:before {
  content: "\ea09";
}
.icon-gbp:before {
  content: "\ea0a";
}
.icon-genderless:before {
  content: "\ea0b";
}
.icon-get-pocket:before {
  content: "\ea0c";
}
.icon-gg:before {
  content: "\ea0d";
}
.icon-gg-circle:before {
  content: "\ea0e";
}
.icon-gift:before {
  content: "\ea0f";
}
.icon-git:before {
  content: "\ea10";
}
.icon-github:before {
  content: "\ea11";
}
.icon-github-alt:before {
  content: "\ea12";
}
.icon-github-square:before {
  content: "\ea13";
}
.icon-git-square:before {
  content: "\ea14";
}
.icon-gittip:before {
  content: "\ea15";
}
.icon-glass:before {
  content: "\ea16";
}
.icon-globe:before {
  content: "\ea17";
}
.icon-google:before {
  content: "\ea18";
}
.icon-google-plus:before {
  content: "\ea19";
}
.icon-google-plus-square:before {
  content: "\ea1a";
}
.icon-google-wallet:before {
  content: "\ea1b";
}
.icon-graduation-cap:before {
  content: "\ea1c";
}
.icon-group:before {
  content: "\ea1d";
}
.icon-hacker-news:before {
  content: "\ea1e";
}
.icon-hand-grab-o:before {
  content: "\ea1f";
}
.icon-hand-lizard-o:before {
  content: "\ea20";
}
.icon-hand-o-down:before {
  content: "\ea21";
}
.icon-hand-o-left:before {
  content: "\ea22";
}
.icon-hand-o-right:before {
  content: "\ea23";
}
.icon-hand-o-up:before {
  content: "\ea24";
}
.icon-hand-paper-o:before {
  content: "\ea25";
}
.icon-hand-peace-o:before {
  content: "\ea26";
}
.icon-hand-pointer-o:before {
  content: "\ea27";
}
.icon-hand-scissors-o:before {
  content: "\ea28";
}
.icon-hand-spock-o:before {
  content: "\ea29";
}
.icon-hashtag:before {
  content: "\ea2a";
}
.icon-hdd-o:before {
  content: "\ea2b";
}
.icon-header:before {
  content: "\ea2c";
}
.icon-headphones:before {
  content: "\ea2d";
}
.icon-heart:before {
  content: "\ea2e";
}
.icon-heartbeat:before {
  content: "\ea2f";
}
.icon-heart-o:before {
  content: "\ea30";
}
.icon-history:before {
  content: "\ea31";
}
.icon-home:before {
  content: "\ea32";
}
.icon-hospital-o:before {
  content: "\ea33";
}
.icon-hourglass:before {
  content: "\ea34";
}
.icon-hourglass-1:before {
  content: "\ea35";
}
.icon-hourglass-2:before {
  content: "\ea36";
}
.icon-hourglass-3:before {
  content: "\ea37";
}
.icon-hourglass-o:before {
  content: "\ea38";
}
.icon-houzz:before {
  content: "\ea39";
}
.icon-h-square:before {
  content: "\ea3a";
}
.icon-html5:before {
  content: "\ea3b";
}
.icon-i-cursor:before {
  content: "\ea3c";
}
.icon-ils:before {
  content: "\ea3d";
}
.icon-image:before {
  content: "\ea3e";
}
.icon-inbox:before {
  content: "\ea3f";
}
.icon-income_stat:before {
  content: "\ea40";
}
.icon-indent:before {
  content: "\ea41";
}
.icon-industry:before {
  content: "\ea42";
}
.icon-info:before {
  content: "\ea43";
}
.icon-info-circle:before {
  content: "\ea44";
}
.icon-inr:before {
  content: "\ea45";
}
.icon-instagram:before {
  content: "\ea46";
}
.icon-internet-explorer:before {
  content: "\ea47";
}
.icon-intersex:before {
  content: "\ea48";
}
.icon-ioxhost:before {
  content: "\ea49";
}
.icon-italic:before {
  content: "\ea4a";
}
.icon-joomla:before {
  content: "\ea4b";
}
.icon-jsfiddle:before {
  content: "\ea4c";
}
.icon-key:before {
  content: "\ea4d";
}
.icon-keyboard-o:before {
  content: "\ea4e";
}
.icon-krw:before {
  content: "\ea4f";
}
.icon-language:before {
  content: "\ea50";
}
.icon-laptop:before {
  content: "\ea51";
}
.icon-lastfm:before {
  content: "\ea52";
}
.icon-lastfm-square:before {
  content: "\ea53";
}
.icon-leaf:before {
  content: "\ea54";
}
.icon-leanpub:before {
  content: "\ea55";
}
.icon-lemon-o:before {
  content: "\ea56";
}
.icon-level-down:before {
  content: "\ea57";
}
.icon-level-up:before {
  content: "\ea58";
}
.icon-life-bouy:before {
  content: "\ea59";
}
.icon-lightbulb-o:before {
  content: "\ea5a";
}
.icon-line-chart:before {
  content: "\ea5b";
}
.icon-linkedin:before {
  content: "\ea5c";
}
.icon-linkedin-square:before {
  content: "\ea5d";
}
.icon-linux:before {
  content: "\ea5e";
}
.icon-list:before {
  content: "\ea5f";
}
.icon-list-alt:before {
  content: "\ea60";
}
.icon-list-ol:before {
  content: "\ea61";
}
.icon-list-ul:before {
  content: "\ea62";
}
.icon-location-arrow:before {
  content: "\ea63";
}
.icon-lock:before {
  content: "\ea64";
}
.icon-long-arrow-down:before {
  content: "\ea65";
}
.icon-long-arrow-left:before {
  content: "\ea66";
}
.icon-long-arrow-right:before {
  content: "\ea67";
}
.icon-long-arrow-up:before {
  content: "\ea68";
}
.icon-magic:before {
  content: "\ea69";
}
.icon-magnet:before {
  content: "\ea6a";
}
.icon-mail-forward:before {
  content: "\ea6b";
}
.icon-mail-reply:before {
  content: "\ea6c";
}
.icon-mail-reply-all:before {
  content: "\ea6d";
}
.icon-male:before {
  content: "\ea6e";
}
.icon-map:before {
  content: "\ea6f";
}
.icon-map-marker:before {
  content: "\ea70";
}
.icon-map-o:before {
  content: "\ea71";
}
.icon-map-pin:before {
  content: "\ea72";
}
.icon-map-signs:before {
  content: "\ea73";
}
.icon-mars:before {
  content: "\ea74";
}
.icon-mars-double:before {
  content: "\ea75";
}
.icon-mars-stroke:before {
  content: "\ea76";
}
.icon-mars-stroke-h:before {
  content: "\ea77";
}
.icon-mars-stroke-v:before {
  content: "\ea78";
}
.icon-maxcdn:before {
  content: "\ea79";
}
.icon-meanpath:before {
  content: "\ea7a";
}
.icon-medium:before {
  content: "\ea7b";
}
.icon-medkit:before {
  content: "\ea7c";
}
.icon-meh-o:before {
  content: "\ea7d";
}
.icon-mercury:before {
  content: "\ea7e";
}
.icon-microphone:before {
  content: "\ea7f";
}
.icon-microphone-slash:before {
  content: "\ea80";
}
.icon-minus:before {
  content: "\ea81";
}
.icon-minus-circle:before {
  content: "\ea82";
}
.icon-minus-square:before {
  content: "\ea83";
}
.icon-minus-square-o:before {
  content: "\ea84";
}
.icon-mixcloud:before {
  content: "\ea85";
}
.icon-mobile:before {
  content: "\ea86";
}
.icon-modx:before {
  content: "\ea87";
}
.icon-money:before {
  content: "\ea88";
}
.icon-moon-o:before {
  content: "\ea89";
}
.icon-motorcycle:before {
  content: "\ea8a";
}
.icon-mouse-pointer:before {
  content: "\ea8b";
}
.icon-mrent:before {
  content: "\ea8c";
}
.icon-music:before {
  content: "\ea8d";
}
.icon-neuter:before {
  content: "\ea8e";
}
.icon-newspaper-o:before {
  content: "\ea8f";
}
.icon-object-group:before {
  content: "\ea90";
}
.icon-object-ungroup:before {
  content: "\ea91";
}
.icon-odnoklassniki:before {
  content: "\ea92";
}
.icon-odnoklassniki-square:before {
  content: "\ea93";
}
.icon-opencart:before {
  content: "\ea94";
}
.icon-openid:before {
  content: "\ea95";
}
.icon-opera:before {
  content: "\ea96";
}
.icon-optin-monster:before {
  content: "\ea97";
}
.icon-pagelines:before {
  content: "\ea98";
}
.icon-paint-brush:before {
  content: "\ea99";
}
.icon-paperclip:before {
  content: "\ea9a";
}
.icon-paper-plane:before {
  content: "\ea9b";
}
.icon-paper-plane-o:before {
  content: "\ea9c";
}
.icon-paragraph:before {
  content: "\ea9d";
}
.icon-pause:before {
  content: "\ea9e";
}
.icon-pause-circle:before {
  content: "\ea9f";
}
.icon-pause-circle-o:before {
  content: "\eaa0";
}
.icon-paw:before {
  content: "\eaa1";
}
.icon-paypal:before {
  content: "\eaa2";
}
.icon-pencil:before {
  content: "\eaa3";
}
.icon-pencil-square:before {
  content: "\eaa4";
}
.icon-percent:before {
  content: "\eaa5";
}
.icon-phone:before {
  content: "\eaa6";
}
.icon-phone2:before {
  content: "\eaa7";
}
.icon-phone-square:before {
  content: "\eaa8";
}
.icon-pie-chart:before {
  content: "\eaa9";
}
.icon-pied-piper:before {
  content: "\eaaa";
}
.icon-pied-piper-alt:before {
  content: "\eaab";
}
.icon-pinterest:before {
  content: "\eaac";
}
.icon-pinterest-p:before {
  content: "\eaad";
}
.icon-pinterest-square:before {
  content: "\eaae";
}
.icon-plane:before {
  content: "\eaaf";
}
.icon-play:before {
  content: "\eab0";
}
.icon-play-circle:before {
  content: "\eab1";
}
.icon-play-circle-o:before {
  content: "\eab2";
}
.icon-plug:before {
  content: "\eab3";
}
.icon-plus:before {
  content: "\eab4";
}
.icon-plus-circle:before {
  content: "\eab5";
}
.icon-plus-square:before {
  content: "\eab6";
}
.icon-plus-square-o:before {
  content: "\eab7";
}
.icon-power-off:before {
  content: "\eab8";
}
.icon-print:before {
  content: "\eab9";
}
.icon-product-hunt:before {
  content: "\eaba";
}
.icon-puzzle-piece:before {
  content: "\eabb";
}
.icon-qq:before {
  content: "\eabc";
}
.icon-qrcode:before {
  content: "\eabd";
}
.icon-question:before {
  content: "\eabe";
}
.icon-question-circle:before {
  content: "\eabf";
}
.icon-quote-left:before {
  content: "\eac0";
}
.icon-quote-right:before {
  content: "\eac1";
}
.icon-ra:before {
  content: "\eac2";
}
.icon-random:before {
  content: "\eac3";
}
.icon-recycle:before {
  content: "\eac4";
}
.icon-reddit:before {
  content: "\eac5";
}
.icon-reddit-alien:before {
  content: "\eac6";
}
.icon-reddit-square:before {
  content: "\eac7";
}
.icon-refresh:before {
  content: "\eac8";
}
.icon-registered:before {
  content: "\eac9";
}
.icon-renren:before {
  content: "\eaca";
}
.icon-repeat:before {
  content: "\eacb";
}
.icon-retweet:before {
  content: "\eacc";
}
.icon-road:before {
  content: "\eacd";
}
.icon-rocket:before {
  content: "\eace";
}
.icon-rotate-left:before {
  content: "\eacf";
}
.icon-rouble:before {
  content: "\ead0";
}
.icon-rss-square:before {
  content: "\ead1";
}
.icon-safari:before {
  content: "\ead2";
}
.icon-scribd:before {
  content: "\ead3";
}
.icon-search:before {
  content: "\ead4";
}
.icon-search_01:before {
  content: "\ead5";
}
.icon-search-minus:before {
  content: "\ead6";
}
.icon-search-plus:before {
  content: "\ead7";
}
.icon-sellsy:before {
  content: "\ead8";
}
.icon-server:before {
  content: "\ead9";
}
.icon-share-alt:before {
  content: "\eada";
}
.icon-share-alt-square:before {
  content: "\eadb";
}
.icon-share-square:before {
  content: "\eadc";
}
.icon-share-square-o:before {
  content: "\eadd";
}
.icon-shield:before {
  content: "\eade";
}
.icon-ship:before {
  content: "\eadf";
}
.icon-shirtsinbulk:before {
  content: "\eae0";
}
.icon-shopping-bag:before {
  content: "\eae1";
}
.icon-shopping-basket:before {
  content: "\eae2";
}
.icon-shopping-cart:before {
  content: "\eae3";
}
.icon-signal:before {
  content: "\eae4";
}
.icon-sign-in:before {
  content: "\eae5";
}
.icon-sign-out:before {
  content: "\eae6";
}
.icon-simplybuilt:before {
  content: "\eae7";
}
.icon-sitemap:before {
  content: "\eae8";
}
.icon-skyatlas:before {
  content: "\eae9";
}
.icon-skype:before {
  content: "\eaea";
}
.icon-slack:before {
  content: "\eaeb";
}
.icon-sliders:before {
  content: "\eaec";
}
.icon-slideshare:before {
  content: "\eaed";
}
.icon-smart:before {
  content: "\eaee";
}
.icon-smile-o:before {
  content: "\eaef";
}
.icon-sort:before {
  content: "\eaf0";
}
.icon-sort-alpha-asc:before {
  content: "\eaf1";
}
.icon-sort-alpha-desc:before {
  content: "\eaf2";
}
.icon-sort-amount-asc:before {
  content: "\eaf3";
}
.icon-sort-amount-desc:before {
  content: "\eaf4";
}
.icon-sort-asc:before {
  content: "\eaf5";
}
.icon-sort-desc:before {
  content: "\eaf6";
}
.icon-sort-numeric-asc:before {
  content: "\eaf7";
}
.icon-sort-numeric-desc:before {
  content: "\eaf8";
}
.icon-soundcloud:before {
  content: "\eaf9";
}
.icon-space-shuttle:before {
  content: "\eafa";
}
.icon-spinner:before {
  content: "\eafb";
}
.icon-spoon:before {
  content: "\eafc";
}
.icon-spotify:before {
  content: "\eafd";
}
.icon-square:before {
  content: "\eafe";
}
.icon-square-o:before {
  content: "\eaff";
}
.icon-stack-exchange:before {
  content: "\eb00";
}
.icon-stack-overflow:before {
  content: "\eb01";
}
.icon-star:before {
  content: "\eb02";
}
.icon-star-half:before {
  content: "\eb03";
}
.icon-star-half-empty:before {
  content: "\eb04";
}
.icon-star-o:before {
  content: "\eb05";
}
.icon-steam:before {
  content: "\eb06";
}
.icon-steam-square:before {
  content: "\eb07";
}
.icon-step-backward:before {
  content: "\eb08";
}
.icon-step-forward:before {
  content: "\eb09";
}
.icon-stethoscope:before {
  content: "\eb0a";
}
.icon-sticky-note:before {
  content: "\eb0b";
}
.icon-sticky-note-o:before {
  content: "\eb0c";
}
.icon-stop:before {
  content: "\eb0d";
}
.icon-stop-circle:before {
  content: "\eb0e";
}
.icon-stop-circle-o:before {
  content: "\eb0f";
}
.icon-street-view:before {
  content: "\eb10";
}
.icon-strikethrough:before {
  content: "\eb11";
}
.icon-stumbleupon:before {
  content: "\eb12";
}
.icon-stumbleupon-circle:before {
  content: "\eb13";
}
.icon-subscript:before {
  content: "\eb14";
}
.icon-subway:before {
  content: "\eb15";
}
.icon-suitcase:before {
  content: "\eb16";
}
.icon-sun-o:before {
  content: "\eb17";
}
.icon-superscript:before {
  content: "\eb18";
}
.icon-table:before {
  content: "\eb19";
}
.icon-tablet:before {
  content: "\eb1a";
}
.icon-tag:before {
  content: "\eb1b";
}
.icon-tags:before {
  content: "\eb1c";
}
.icon-tasks:before {
  content: "\eb1d";
}
.icon-television:before {
  content: "\eb1e";
}
.icon-tencent-weibo:before {
  content: "\eb1f";
}
.icon-terminal:before {
  content: "\eb20";
}
.icon-text-height:before {
  content: "\eb21";
}
.icon-text-width:before {
  content: "\eb22";
}
.icon-th:before {
  content: "\eb23";
}
.icon-th-large:before {
  content: "\eb24";
}
.icon-th-list:before {
  content: "\eb25";
}
.icon-thumbs-down:before {
  content: "\eb26";
}
.icon-thumbs-o-down:before {
  content: "\eb27";
}
.icon-thumbs-o-up:before {
  content: "\eb28";
}
.icon-thumbs-up:before {
  content: "\eb29";
}
.icon-thumb-tack:before {
  content: "\eb2a";
}
.icon-ticket:before {
  content: "\eb2b";
}
.icon-times-circle:before {
  content: "\eb2c";
}
.icon-times-circle-o:before {
  content: "\eb2d";
}
.icon-tint:before {
  content: "\eb2e";
}
.icon-toggle-off:before {
  content: "\eb2f";
}
.icon-toggle-on:before {
  content: "\eb30";
}
.icon-trademark:before {
  content: "\eb31";
}
.icon-train:before {
  content: "\eb32";
}
.icon-transgender-alt:before {
  content: "\eb33";
}
.icon-trash:before {
  content: "\eb34";
}
.icon-trash-o:before {
  content: "\eb35";
}
.icon-tree:before {
  content: "\eb36";
}
.icon-trello:before {
  content: "\eb37";
}
.icon-tripadvisor:before {
  content: "\eb38";
}
.icon-trophy:before {
  content: "\eb39";
}
.icon-truck:before {
  content: "\eb3a";
}
.icon-try:before {
  content: "\eb3b";
}
.icon-tty:before {
  content: "\eb3c";
}
.icon-tumblr:before {
  content: "\eb3d";
}
.icon-tumblr-square:before {
  content: "\eb3e";
}
.icon-twitch:before {
  content: "\eb3f";
}
.icon-twitter:before {
  content: "\eb40";
}
.icon-twitter-square:before {
  content: "\eb41";
}
.icon-umbrella:before {
  content: "\eb42";
}
.icon-underline:before {
  content: "\eb43";
}
.icon-unlock:before {
  content: "\eb44";
}
.icon-unlock-alt:before {
  content: "\eb45";
}
.icon-upload:before {
  content: "\eb46";
}
.icon-usb:before {
  content: "\eb47";
}
.icon-user:before {
  content: "\eb48";
}
.icon-user-md:before {
  content: "\eb49";
}
.icon-user-plus:before {
  content: "\eb4a";
}
.icon-user-secret:before {
  content: "\eb4b";
}
.icon-user-times:before {
  content: "\eb4c";
}
.icon-venus:before {
  content: "\eb4d";
}
.icon-venus-double:before {
  content: "\eb4e";
}
.icon-venus-mars:before {
  content: "\eb4f";
}
.icon-viacoin:before {
  content: "\eb50";
}
.icon-video-camera:before {
  content: "\eb51";
}
.icon-vimeo:before {
  content: "\eb52";
}
.icon-vimeo-square:before {
  content: "\eb53";
}
.icon-vine:before {
  content: "\eb54";
}
.icon-vk:before {
  content: "\eb55";
}
.icon-volume-down:before {
  content: "\eb56";
}
.icon-volume-off:before {
  content: "\eb57";
}
.icon-volume-up:before {
  content: "\eb58";
}
.icon-wechat:before {
  content: "\eb59";
}
.icon-weibo:before {
  content: "\eb5a";
}
.icon-whatsapp:before {
  content: "\eb5b";
}
.icon-wheelchair:before {
  content: "\eb5c";
}
.icon-wifi:before {
  content: "\eb5d";
}
.icon-wikipedia-w:before {
  content: "\eb5e";
}
.icon-windows:before {
  content: "\eb5f";
}
.icon-wordpress:before {
  content: "\eb60";
}
.icon-wrench:before {
  content: "\eb61";
}
.icon-xing:before {
  content: "\eb62";
}
.icon-xing-square:before {
  content: "\eb63";
}
.icon-yahoo:before {
  content: "\eb64";
}
.icon-y-combinator:before {
  content: "\eb65";
}
.icon-yelp:before {
  content: "\eb66";
}
.icon-youtube:before {
  content: "\eb67";
}
.icon-youtube-play:before {
  content: "\eb68";
}
.icon-youtube-square:before {
  content: "\eb69";
}

