// jjlim modify
.login-box{
	padding-top: 50px;
	padding-bottom: 30px;
	margin-bottom: 100px;
	background-color:#ffffff;
	border:1px solid #b7bac0;
}

// jjlim add
.login-title {
	margin-top: 60px;
	margin-bottom: 20px;
}

span.title{
	//font-family:AppleSDGothicNeoI-Regular;
	font-family: Noto Sans KR;
	font-size:18px;
	color:#22b500;
}



@mixin basic-padding{
	padding-top:16px;
	padding-left:100px;
	padding-bottom:20px;
}

.login-footer{
	@include basic-padding;
}

.header{
	@include basic-padding;
	height:61px;
	margin:10px 0px;
}

.form-box{
	padding:28px 100px;
	height:100%;
	min-height:379px;
	border-top:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
}

.ic-social-btn{
	font-size:52px;
	color:#969db0;
	cursor:pointer;
}

@mixin login-text{
	//font-family:AppleSDGothicNeo-Regular;
	font-family: Noto Sans KR;
	font-size:14px;
	color:#6c7382;
	line-height:22px;
}

label.form-label{
	@include login-text;
}

span.link-label{
	margin-top:12px;
	@include login-text;
	text-decoration:underline;
}

.submit-btn{
	background:#22b500;
	border-radius:2px;
	width:100%;
	height:60px;
	//font-family:AppleSDGothicNeo-Regular;
	font-family: Noto Sans KR;
	font-size:18px;
	color:#ffffff;
	line-height:22px;
}

.submit-btn:hover,.submit-btn:focus{
	color:#ffffff;
}

a.btn-social-icon{
	width:68px !important;
	height:68px !important;
}

i.fa{
	font-size:2.3em !important;
	line-height:65px !important;
}

.social-btn-area {
	margin-top:15px;
}

.social-btn-area a{
	margin-left:5px;
}

// jjlim remove
//a:hover,a:focus{
//	margin-left:5px;
//	text-decoration:none !important;
//}

.fms-login{
	position:relative;
	float:right;
	padding:30px 18px;	
}

.login-error{
	margin-top:10px;
	text-align:center;
	color:#22B500;
	font-weight:bold;
}

// jjlim
.login-button {
	width: 80px;
	height: 80px;
}

// jjlim
.register-button {
	margin-top: 20px;
	width: 80px;
	height: 80px;
}

// jjlim
.login-social {
	margin-top: 10px;
}

// jjlim
.login-social-image {
	padding: 10px 3px;
}